#chatframe{
	height:450px;
	width: 100%;
	background-color:#EEEEEE;
	overflow-y:scroll;
	margin-bottom: 50px;
	flex-grow: 1;
}


.otherpeople{
	
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
}
.peopleicon{
	height: 35px;
	width: 35px;
	background-image: url(../img/聊天1范冰冰.jpg);
	background-size:contain;
	background-repeat: no-repeat;
	/*border:1px solid red;*/
}
.text{
	
	max-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	/*border:1px solid red;*/
}



.myshelf1{
	/*height: 35px;
	width: 100%;*/
	/*position: absolute;
	right: 0;*/
	display: flex;
	justify-content: flex-end;
	/*flex-flow: row nowrap;*/
	margin-top: 30px;
}
.myicon1{
	height: 35px;
	width: 35px;
	background-image: url(../img/吴亦凡.jpg);
	background-size:contain;
	background-repeat: no-repeat;
}
.mytext1{
	height: 35px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: limegreen;
}
.mytext2{
	max-height: 200px;
	max-width: 200px;
	margin-right: 20px;
	/*border: 1px solid red;*/
	overflow: hidden;
	
}
