*{
	margin: 0px;padding: 0px;
	
}
.position-relative {
	position: relative;
}

.position-abs{
	position: absolute;
}

.show-border {
	border: 1px solid red;
}
.show-border-green{
	border:1px dashed green;
}
::-webkit-scrollbar{
	display: none;
}
