#header{
	height: 50px;
	width: 100%;
	background:#424242;
	text-align: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	position: relative;
	}
#headerleft{
	width: 33%;
	display: flex;
	flex-flow: row nowrap;
	justify-content:flex-start;
	padding-left: 10px;
	align-items: center;
   font-size: large;
   font-weight: 700;
	color: white;
}
#headercenter{
	width: 40px;height: 38px;
	background-size: contain;
	background-image: url(../img/白色搜索.png);
	
}

/*#headerright img{
	width: 40px;height: 40px;
	
}*/

#headerright{
	margin-right: 5px;
	width: 40px;height: 38px;
	background-image: url(../img/加号.png);
	background-size: contain;
}
