#header{
	height: 50px;
	width: 100%;
	background:#424242;
	text-align: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	position: relative;
	}
#headerleft{
	width: 33%;
	display: flex;
	flex-flow: row nowrap;
	justify-content:flex-start;
	padding-left: 10px;
	align-items: center;
   font-size: large;
   font-weight: 700;
	color: white;
}
#headercenter{
	width: 40px;height: 40px;
	background-size: contain;
	background: url(../img/白色搜索.png);
	align-items: 0 auto;
}
#headerright{
	width: 33%;
	position: relative;
	display: flex;
	flex-flow: row ;
	justify-content: flex-end;
	align-items: center;
	padding-right: 8px;
}
#add{
	width: 40px;height: 40px;
	background: url(../img/加号.png) no-repeat;
	background-size: contain;
	
}
